version: "3.7"
services:
    challenge:
        build: webapp/
        dns:
            - 8.8.8.8
        ports:
            - "80:80"
            - "22:22"
        extra_hosts:
            - "internal_service:10.100.100.5"
        networks:
            secres_net:
                ipv4_address: 10.100.100.4

    internal_service:
        build: internal_service/
        dns:
            - 8.8.8.8
        networks:
            secres_net:
                ipv4_address: 10.100.100.5

networks:
    secres_net:
        driver: bridge
        ipam:
            config:
                - subnet: 10.100.100.0/24
